[submodule "odin-recipes"]
	path = odin-recipes
	url = git@github.com:waris-sri/odin-recipes.git
[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:waris-sri/css-exercises.git
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = git@github.com:waris-sri/odin-landing-page.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = git@github.com:waris-sri/javascript-exercises.git
[submodule "odin-rock-paper-scissors"]
	path = odin-rock-paper-scissors
	url = git@github.com:waris-sri/odin-rock-paper-scissors.git
[submodule "JavaScript30"]
	path = JavaScript30
	url = git@github.com:waris-sri/JavaScript30.git
[submodule "odin-etch-a-sketch"]
	path = odin-etch-a-sketch
	url = git@github.com:waris-sri/odin-etch-a-sketch.git
[submodule "odin-calculator"]
	path = odin-calculator
	url = git@github.com:waris-sri/odin-calculator.git
