:root {
  --bgColor: rgb(64, 70, 88);
}
*:not(body) {
  border-radius: 6px;
  margin-block: 0.5rem;
}
body {
  background-color: black;
  color: whitesmoke;
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button,
input {
  background-color: whitesmoke;
  color: black;
  padding-inline: 0.5rem;
  font-size: 1.25rem;
}
div {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}
p {
  margin: 0;
}
#output {
  background-color: whitesmoke;
  color: black;
  padding-inline: 0.25em;
  margin-left: 1rem;
  font-family: monospace;
}
#textBox {
  width: 60%;
}
#container {
  background-color: var(--bgColor);
}
.display {
  background-color: rgb(0, 147, 101);
  display: flex;
  align-items: center;
}
.controls {
  background-color: rgb(225, 79, 113);
}
.controls.interest {
  background-color: gold;
  color: black;
  font-weight: 700;
}
#box {
  background-color: darkturquoise;
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: end;
  font-size: medium;
  color: black;
  text-align: right;
}
#cursor-pos,
#color-code {
  font-family: monospace;
  color: whitesmoke;
  text-shadow: 0px 0px 10px black, 0px 0px 6px black, 0px 0px 2px black;
}
